<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>

<body>
    <div id="content">
        <!-- sidebar -->

        <!-- user is logged in :sidebar -->
        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar::sidebar}"></div>
        </div>
        <div class="sm:pl-64 pt-20" style="height:1000px">
            <h1 class="text-black dark:text-white">Welcome to Search Page, <span th:text="${loggedInUser.name}">User
                </span>!</h1>
            <p class="text-black dark:text-white" th:text="${pageContacts.totalElements}+'  result found'"></p>

            <div class="contacts_container p-5">
                <div class="relative  overflow-x-auto shadow-md sm:rounded-lg p-5">
                    <form th:action="@{/user/contacts/search}" th:object="${contactSearchForm}" method="get"
                        class="flex gap-3 items-center">

                        <select id="usercontacts" th:field="*{field}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-48 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="" disabled selected>Select Field</option>
                            <option value="name">Name</option>
                            <option value="email">Email</option>
                            <option value="phonenumber">Phone</option>
                        </select>

                        <input type="text" th:field="*{value}" placeholder="Enter keyword..."
                            class="block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />

                        <button type="submit"
                            class="px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition">
                            Search
                        </button>

                    </form>

                    <table
                    th:if="${pageContacts.totalElements>0}"
                     class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>

                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Phone
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Links
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:object="${c}" th:each="c :${pageContacts.getContent()}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50
                dark:hover:bg-gray-600">

                                <th scope="row"
                                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <img onerror="this.src='/images/default1.jpg'" class="w-10 h-10 rounded-full"
                                        th:src="*{picture}" alt="image">
                                    <div class="ps-3">
                                        <div class="text-base font-semibold" data-th-text="*{name}">Neil Sims</div>
                                        <div class="font-normal text-gray-500" data-th-text="*{email}">
                                            neil.sims@flowbite.com</div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    <i class="fa-phone w-4 h-4"></i>
                                    <span data-th-text="*{phoneNumber}"></span>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center gap-1">
                                        <div th:if="*{favrite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2">
                                        </div>

                                        <a th:href="@{*{linkedInLink}}" target="_blank" class="mt-2">
                                            <i class="fa-solid fa-link w-6 h-6"></i>
                                        </a>

                                        <a th:href="@{*{wedsiteLink}}" target="_blank" class="mt-2">
                                            <i class="fa-brands fa-linkedin w-6 h-6"></i>
                                        </a>
                                    </div>
                                </td>

                                <td class="px-6 py-4">
                                    <a href="#">
                                        <i class="fa-solid fa-trash w-6 h-6 "></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa-solid fa-pen w-6 h-6"></i>
                                    </a>
                                      <button th:onclick="loadContactdata([[${c.id}]])">
                                        <i class="fa-solid fa-eye w-6 h-6"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- pagination -->
                    <div 
                        th:if="${pageContacts.totalElements>0}"
                    class=" pagination_container p-5  text-center   bg-white dark:bg-gray-800">
                        <nav aria-label="Page navigation example  ">
                            <ul class="inline-flex -space-x-px text-base h-10 pt-5">
                                <li th:unless="${pageContacts.first}">
                                    <a th:href="@{/user/contacts/search(page=${pageContacts.number - 1}, size=${pageSize}, field=${field}, value=${keyword})}"
                                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                </li>

                                <li th:each="index : ${#numbers.sequence(0, pageContacts.totalPages - 1)}">
                                    <a th:href="@{/user/contacts/search(page=${index}, size=${pageSize}, field=${field}, value=${keyword})}"
                                        th:classappend="${index} == ${pageContacts.number} ? 'bg-blue-500 text-black dark:bg-black text-white' : ''"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-black bg-white dark:bg-gray-700 border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                                        <span th:text="${index + 1}"></span>
                                    </a>
                                </li>

                                <li th:unless="${pageContacts.last}">
                                    <a th:href="@{/user/contacts/search(page=${pageContacts.number + 1}, size=${pageSize}, field=${field}, value=${keyword})}"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                </li>



                            </ul>
                        </nav>
                    </div>
                    <h1 
                      th:unless="${pageContacts.totalElements>0}"
                    class="text-4xl text-center p-5 text-black bg-white dark:bg-slate-600">No Result found</h1>
                </div>

            </div>
              <div th:replace="~{user/contact_model::contact}"></div>
        </div>
    </div>
    <script>console.log("search  page")</script>
   <!-- Font Awesome (icons) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

<!-- Flowbite (UI modal, drawer, etc.) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<!-- Your custom JS -->
<script th:src="@{/js/contacts.js}"></script>

</body>

</html>